<%= form_with model: @message, local: true do |f| %>
  <div class="form-group">
    <%= f.label :content, "メッセージ" %>
    <%= f.text_area :content, rows: 5 %>
  </div>
  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>