<h1 style="text-align: center;">避難所生活についてのマニュアル</h1>

<section>
  <h2>1. 避難について知ろう</h2>
  <ul>
    <li>避難所での生活は心身にさまざまな影響を及ぼします。一人ひとりが自覚を持って健康管理に心がけましょう。周囲の人たちへの思いやりも大切にしましょう。</li>
  </ul>
</section>

<section>
  <h2>2. 生活ルール</h2>
  <ul>
    <li>ゴミ出し: 家族のゴミは指定された方法、場所に出す。</li>
    <li>トイレの利用: 断水時は指示された方法で利用する。掃除は利用者全員が交代で行う。</li>
    <li>消灯時間: 消灯時間を守る。消灯後はゲームや携帯電話を使用しない。</li>
    <li>物資の配給: 指示に従い、一定の間隔を空けて並ぶ。列に並べない要配慮者への思いやりを。</li>
    <li>着替え・洗濯物: 着替えや洗濯物を干すのは指定された場所を利用する。プライバシーの確保に努める。</li>
    <li>喫煙: 喫煙は所定の場所で行う。</li>
    <li>運営スタッフの指示に従うことはもちろん、互いを思いやる行動を心がける。</li>
  </ul>
</section>


<section>
  <h2>3. 自分自身の体調管理</h2>
  <ul>
    <li>こまめな水分・塩分補給で熱中症予防。</li>
    <li>食事の前やトイレの後は必ず手洗い。</li>
    <li>食中毒に注意。</li>
    <li>エコノミークラス症候群防止のために適切な運動を。</li>
    <li>意識して睡眠、休息をとるように。</li>
    <li>薬で困っている場合は保健師などに相談を。</li>
    <li>うがい、歯磨きで口の中の衛生を保つ。</li>
    <li>病気や高齢で食事などに特別な配慮が必要な場合は申し出る。</li>
    <li>体の不調を感じたら、医師・保健師に相談を。</li>
  </ul>
</section>

<section>
  <h2>4. 要配慮者への対応</h2>
  <ul>
    <li>自分のことだけでなく、妊産婦や乳幼児、高齢者、障がい者、外国人の方へ積極的に声をかけましょう。</li>
    <li>障がい者: 車いすの補助は3人以上で行う。</li>
    <li>目の不自由な人には、まず「お手伝いをしましょうか」と声をかける。</li>
    <li>耳の不自由な人には紙とペンを使って筆談を。</li>
    <li>知的障がい者には、安心できるよう穏やかな声で声かけを。</li>
    <li>高齢者: 頻繁に声をかけ、孤立させないようにする。</li>
    <li>足腰が弱っている方の介助をする。</li>
    <li>女性・妊婦・乳幼児: 更衣や授乳などプライバシーへの配慮。</li>
    <li>妊娠中、産後間もない女性の健康への気配り。</li>
    <li>乳幼児の体調の変化に気をつける。</li>
  </ul>
</section>

<section>
  <h2>5. 感染症対策</h2>
  <ul>
    <li>健康状態チェック: 避難所に入る前に「健康状態チェックカード」の記入と体温計測を行います。発熱や咳などの症状がある場合は、他の避難者と離れて待機し、事前受付で申し出てください。</li>
    <li>感染症対策を徹底する: 3密を避ける、こまめに手洗い、うがいを行う、マスクの着用と咳エチケット、食器や洗面用具、タオルを共用しない、身のまわりを清潔に保つ、心身の健康維持に努める。</li>
  </ul>
</section>

<section>
  <h2>6. 避難所以外の場所への避難も考える</h2>
  <ul>
    <li>車中泊: 車中泊として、車の中で寝泊まりすることも考えられます。ただし、エコノミークラス症候群に注意しましょう。</li>
    <li>自宅の庭や公園などでの「テント泊」、宿泊施設を事前予約しておく「ホテル泊」なども考えられます。</li>
    <li>避難所で避難者登録をしておけば、物資などの支援を受けられます。</li>
  </ul>
</section>

<!-- トップページに戻るリンク -->
<div>
  <%= link_to 'トップページに戻る', root_path, class: 'center-link' %>
</div>
