<h1 style="text-align: center;">サポートページ</h1>

<section>
  <h2>1. 災害の危険性と備えの必要性</h2>
  <p>
    災害は、予期できない想像以上の被害をもたらします。それでも、日頃から「災害に遭ったら？」と想像し、準備や対策を行うことが非常に大切です。災害が起きたときにできることは限られています。いざという時に、できるだけスムーズに行動できるよう、普段から備えをしておきましょう。
  </p>
</section>

<section>
  <h2>2. このアプリの必要性</h2>
  <p>
    本アプリは、災害時の迅速な行動をサポートします。情報を提供し、避難所の検索を容易にすることで、あなたの安全を守る手助けをします。
  </p>
</section>

<section>
  <h2>3. 事前にマニュアルを読んでおくこと</h2>
  <p>
    マニュアルの内容は、製作者が他のページを参考に作成したものであり、全てが正しいとは限りません。しかし、災害に備えるための基本的な知識を得るには役立ちます。
  </p>
</section>

<section>
  <h2>4. CSVファイルのダウンロード</h2>
  <p>
    避難所を検索するためには、CSVファイルのダウンロードが必要です。ダウンロードしておけば、オフラインでも避難所情報を検索することができます。
  </p>
</section>

<section>
  <h2>5. 地震情報と気象情報</h2>
  <p>
    地震情報や気象情報は、気象庁からのデータを参照しています。信頼性のある情報を基に行動しましょう。
  </p>
</section>

<section>
  <h2>6. メッセージの内容について</h2>
  <p>
    メッセージを送信する際は、相手に不快な思いを与えないよう言葉には気をつけましょう。思いやりのあるコミュニケーションを心がけてください。
  </p>
</section>

<section>
  <h2>7. 位置情報の許可</h2>
  <p>
    近くの避難所を検索するには、位置情報の許可が必要です。設定を確認し、適切な許可を与えてください。
  </p>
</section>

<section>
  <h2>8. 新規登録/ログインの必要性</h2>
  <p>
    避難所検索機能を利用するには、新規登録またはログインが必要です。アカウントを作成し、安全な利用を心がけましょう。
  </p>
</section>

<section>
  <h2>9. 災害時の連絡先</h2>
  <p>
    災害時に連絡するところには、次のようなものがあります。
  </p>
  <ul>
    <li>災害用伝言ダイヤル（171）: 被災地の方の電話番号をキーにして安否などの情報を音声で登録・確認できるサービス。</li>
    <li>災害用伝言板（Web171）: インターネット上で安否情報を登録・確認できます。</li>
    <li>災害用伝言板（携帯会社）: 各携帯会社が提供する伝言板を利用できます。</li>
    <li>LINE安否確認: LINEを通じて安否を伝える機能が利用できます。地域をLINEに登録することで、防災速報を受け取ることができます。</li>
    <li>X（旧Twitter）やFacebookなどSNS: 各種SNSを利用して安否確認や情報共有が可能です。</li>
    <li>公衆電話: 公衆電話からはお金を入れずに「171」とプッシュするだけで利用可能。</li>
  </ul>
</section>

<!-- トップページに戻るリンク -->
<div>
  <%= link_to 'トップページに戻る', root_path, class: 'center-link' %>
</div>
